<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabelka</title>
</head>
<body>
<div align="center">
<!-- Table -->
<table border = "1" cellpadding = "10"> <!-– border –
    obramowanie, cellpadding – rozmiar komórki -->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
        <th>ID</th> <!–- Table column -->
        <th>IdOperatora</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Amount</th>
        <th>Amount</th>
        <th>Action</th>

    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr th:each = "pracownicy : ${listPracownicy}">
        <td th:text = "${pracownicy.id}">ID</td>
        <td th:text = "${pracownicy.idOperatora}">IdOperatora</td>
        <td th:text = "${pracownicy.idLokalu}">Quantity</td>
        <td th:text = "${pracownicy.nazwisko}">Amount</td>
        <td th:text = "${pracownicy.imie}">Amount</td>
        <td th:text = "${pracownicy.pesel}">Amount</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>