<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Abonenci</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>






<div class="container-fluid bg-primary text-light">
    <div class="row" style="text-align: center;">
        <div class="col my-auto" >

        </div>
        <div class="col-8" >
            <h1>Abonenci</h1>
        </div>
        <div class="col my-auto">
            <a class="nav-link text-light" href="/main">< Back</a>
        </div>
    </div>
</div>
    <div align="center">
    <a href="/main">Powróć do strony głownej</a>
    <br/>
    <a href="/nowy_abonent">Dodaj nowego abonenta</a>
    <br/><br/>
    <table border = "1" cellpadding = "10" class="table"> <!-– border –
        obramowanie, cellpadding – rozmiar komórki -->
        <!-- Table header -->
        <thead class="thead-dark">
        <tr> <!-- Table row -->
            <th>ID_abonenta</th> <!–- Table column -->
            <th>Adres_email</th>
            <th>Numer_telefonu</th>
            <th>ID_operatora</th>
            <th>Nr_adresu</th>
            <th>Operacja</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <tr th:each = "abonent : ${listAbonent}">
            <td th:text = "${abonent.idAbonenta}">ID_abonenta</td>
            <td th:text = "${abonent.adresEmail}">Adres_email</td>
            <td th:text = "${abonent.numerTelefonu}">Numer_telefonu</td>
            <td th:text = "${abonent.idOperatora}">ID_operatora</td>
            <td th:text = "${abonent.nrAdresu}">Nr_adresu</td>
            <td>
                <a th:href="@{'/editAbonent/' + ${abonent.idAbonenta}}">Edytuj</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteAbonent/' + ${abonent.idAbonenta}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>